/* Avoid double controls on iOS when in fullscreen. */
media-player[data-ios-controls] .media-controls-group,
/* Hide controls if media is not ready for playback, or user is idle. */
media-player[data-user-idle] .media-controls-group,
media-player:not([data-can-play]) .media-controls-group {
  opacity: 0;
  pointer-events: none;
}
