<div class="wrapper">
  <!-- HLS -->
  <h1>HLS</h1>
  <div class="grid">
    <app-vidstack-hls></app-vidstack-hls>
  </div>
  <!-- End HLS -->

  <!-- VIDEO -->
  <h1>Video</h1>
  <div class="grid">
    <app-vidstack-video></app-vidstack-video>
  </div>
  <!-- End VIDEO -->

  <!-- Custom Controls -->
  <h1>Custom controls</h1>
  <div class="grid">
    <app-vidstack-custom-controls></app-vidstack-custom-controls>
  </div>
  <!-- End Custom Controls -->

  <!-- Events -->
  <h1>Events</h1>
  <div class="grid">
    <app-vistack-events></app-vistack-events>
  </div>
  <!-- End Events -->
</div>
